{
    "formID": "1FAIxyz-xyz",
    "events: [{"seriesName": "s", "eventName": "8", "roundPrefix": "S8"}, ...]
    "form": {
        "startETID": "123456",
        "matchupID": "123456",
        "roundID": "123456",
        "consentID": "123456"
    },
    "midosAPIKey": "abcdef123456"
}
